 .image-size-2 {
    width: 12rem;
    height: 12rem;
    border: .15rem outset rgba(0, 0, 255, 0.63);
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    opacity: 1;
    box-shadow: 0 0 1rem rgba(222, 230, 245, 0.911);
  }

  .message-signiture-container {
    justify-content: center;
    align-items: center;
  }

  .App p {
    text-align: center;
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bottom-container {
    margin-top: .15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Message {
    border: .1rem outset rgba(0, 0, 255, 0.63);
    background-color: rgba(255, 255, 255, 0.541);
  }
  
  .Text-Full {
    font-family: 'Grandstander', cursive;
    font-size: 1rem;
  }
  
  .Signiture {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1rem;
  }
  
  .fa-hand {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 0, 0, 0.712);
  }
  
  .coding-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    padding: .15rem;
    margin-bottom: .25rem;
    box-shadow: 0 0 .75rem  rgba(0, 0, 255, 0.63);
  }

 .sign-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech-stack-text {
    text-align: center;
    font-size: 1.1rem;
    padding: .15rem;
  }
  
  .selfie-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bio-text {
    font-size: .9rem;
    background-color: rgba(255, 253, 253, 0.507);
    box-shadow: 0 0 .25rem  rgba(109, 109, 245, 0.63);
    border: .1rem solid rgba(36, 36, 248, 0.63);
    padding: .3rem;
    margin: .2rem;
  }

  .bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .fa-brands {
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
    margin: .1rem;
  }
  
  .fa-react {
    color: rgba(62, 32, 230, 0.795);
  }
  
  .fa-css3-alt {
    color: rgba(255, 238, 0, 0.89);
  }
  
  .fa-html5 {
    color: red;
  }

  .fa-gitlab {
    color: orange;
  }
  
  .fa-js {
    color: rgb(23, 49, 197);
  }
  
  .fa-node {
    color: rgb(11, 128, 40);
  }
  
  /* for mobile view */
  @media (max-width: 767px) {
    * {
      padding: 0;
      margin: 0;
    }
  
    .Text-Full {
      font-size: .5rem;
    }
  
    .fa-brands {
      font-size: .75rem; 
    }
  
    .fa-hand {
      font-size: 2rem;
    }
  
    .Message {
      border: .1rem solid rgba(0, 0, 255, 0.63);
    }

    .Signiture {
        font-size: .5rem;
    }

    .image-size-2 {
        width: 6.75rem;
        height: 6.75rem;
    }

    p .project-description {
        font-size: .35rem;
    }

    .tech-stack-text {
        text-align: center;
        font-size: .5rem;
        margin: .05rem;
      }

      .bio-text {
        font-size: .45rem;
        margin: 0rem;
      }
  }