 .image-size-2 {
    width: 13rem;
    height: 13rem;
    border: .15rem outset rgba(0, 0, 255, 0.63);
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    opacity: 1;
    box-shadow: 0 0 1rem rgba(222, 230, 245, 0.911);
  }

  .App p {
    text-align: center;
  }

  .Message {
    border: .1rem outset rgba(160, 160, 206, 0.63);
    background-color: rgba(130, 183, 226, 0.192);
  }
  
  .Welcome-Text {
    font-family: 'Grandstander', cursive;
    font-size: 1.75rem;
    padding: .15rem;
  }
  
  .Signiture {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.75rem;
  }

  .coding-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    padding: .1rem;
    width: 20rem;
    margin-bottom: .25rem;
    background-color: rgba(255, 255, 255, 0.295);
    box-shadow: 0 0 .75rem  rgba(0, 0, 255, 0.63);
  }

 .sign-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .coding-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px outset rgba(32, 32, 240, 0.384);
    background-color: rgba(156, 154, 154, 0.678);

  }

  .tech-stack-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  
  .selfie-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bio-text {
    text-align: center;
    font-size: .9rem;
    background-color: rgba(255, 253, 253, 0.555);
    box-shadow: 0 0 .25rem  rgba(215, 215, 255, 0.63);
    border: .125rem solid rgba(36, 36, 248, 0.63);
  }

  .bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-container {
    background-color: rgba(44, 119, 168, 0.582);
    border: .15rem solid rgba(11, 67, 119, 0.521);
    width: 70%; }

    .bottom-container-shell {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .3rem;
    }
  
  .fa-brands {
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
    margin: .1rem;
    padding: .05rem;
  }
  
  .fa-react {
    color: rgba(62, 32, 230, 0.795);
  }
  
  .fa-css3-alt {
    color: rgba(255, 238, 0, 0.89);
  }
  
  .fa-html5 {
    color: red;
  }

  .fa-gitlab {
    color: orange;
  }
  
  .fa-js {
    color: rgb(23, 49, 197);
  }
  
  .fa-node {
    color: rgb(11, 128, 40);
  }
  
  /* for mobile view */
  @media (max-width: 767px) {
    .Text-Full {
      font-size: .4rem;
    }
  
    .fa-brands {
      font-size: .75rem; 
    }
  
    .Message {
      border: .1rem solid rgba(0, 0, 255, 0.63);
    }

    .Signiture {
        font-size: .65rem;
    }

    .image-size-2 {
        width: 6.5rem;
        height: 6.5rem;
    }

    p .project-description {
        font-size: .35rem;
    }

      .bio-text {
        text-align: center;
        font-size: .45rem;
        margin: 0rem;
      }

      .coding-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .7rem;
        padding: .1rem;
        width: 12.5rem;
        margin-bottom: .25rem;
        box-shadow: 0 0 .75rem  rgba(0, 0, 255, 0.63);
      }      
  
      h3 {
    font-size: .55rem;
    text-align: center;
  }

  .Welcome-Text {
    font-size: .9rem;
  }
    
  }