.Entire-Welcome-App {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Use min-height instead of height to allow for content overflow */
  background: url(./imgs/main-background.png);
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
}

.App p {
  text-align: center;
}

.Message {
  border: .45rem solid rgba(0, 0, 255, 0.63);
  background-color: rgba(255, 255, 255, 0.541);
  margin-bottom: .75rem;
}

.Text-Full {
  font-family: 'Grandstander', cursive;
  font-size: 1.35rem;
  margin: .1rem;
}

.Signiture {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1.75rem;
}

.fa-hand {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 0, 0, 0.712);
  margin: .1rem;
}

.coding-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.fa-brands {
  font-size: 3.25rem;
  padding: .15rem;
  justify-content: center;
  align-items: center;
}

.fa-react {
  color: rgba(23, 23, 206, 0.904);
}

.fa-css3-alt {
  color: rgba(255, 238, 0, 0.89);
}

.fa-html5 {
  color: red;
}

.fa-js {
  color: rgb(23, 49, 197);
}

.fa-node {
  color: rgb(18, 177, 58);
}

/* for mobile view */
@media (max-width: 767px) {
  .Text-Full {
    font-size: 1rem;
  }

  .fa-brands {
    font-size: 1.7rem; 
  }

  .fa-hand {
    font-size: 4.5rem;
  }

  .Message {
    border: .2rem solid rgba(0, 0, 255, 0.63);
  }
}