.App {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Use min-height instead of height to allow for content overflow */
  background: url(./imgs/main-background.png);
  background-position: center;
  background-size: cover; /* Use cover to scale the image and cover the entire container */
  background-repeat: no-repeat;
}

.App p {
  text-align: center;
}

.Message {
  border: .55rem solid rgba(0, 0, 255, 0.63);
  background-color: rgba(255, 255, 255, 0.541);
  width: 100%;
  height: 100%;
}

.Text-Full {
  font-family: 'Grandstander', cursive;
  font-size: 2.55rem;
}

.Signiture {
  font-family: 'Cedarville Cursive', cursive;
}

.fa-hand {
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 0, 0, 0.712);
}

.coding-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  font-size: 2.5rem;
  padding: .2rem;
  margin: .2rem;
  justify-content: center;
  align-items: center;
}

.fa-react {
  color: rgba(23, 23, 206, 0.904);
}

.fa-css3-alt {
  color: rgba(255, 238, 0, 0.89);
}

.fa-html5 {
  color: red;
}

.fa-js {
  color: rgb(23, 49, 197);
}

.fa-node {
  color: rgb(18, 177, 58);
}

/* for mobile view */
@media (max-width: 767px) {
  .Text-Full {
    font-size: 1.2rem; /* Decrease the font size for text */
  }

  .fa-brands {
    font-size: 1.8rem; 
  }

  .fa-hand {
    font-size: 4.5rem;
  }

  .Message {
    border: .25rem solid rgba(0, 0, 255, 0.63);
  }
}