body {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(./imgs/main-background.png);
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.App p {
  text-align: center;
}

.Message {
  border: .45rem solid rgba(0, 0, 255, 0.63);
  background-color: rgba(255, 255, 255, 0.541);
  margin-bottom: .3rem;
}

.Text-Full {
  font-family: 'Grandstander', cursive;
  font-size: 1.15rem;
}

.Signiture {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1.5rem;
}

.fa-hand {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 0, 0, 0.712);
  margin: .1rem;
}

.coding-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.selfie-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.fa-brands {
  font-size: 3rem;
  padding: .15rem;
  justify-content: center;
  align-items: center;
}

.fa-react {
  color: rgba(62, 32, 230, 0.795);
}

.fa-css3-alt {
  color: rgba(255, 238, 0, 0.89);
}

.fa-html5 {
  color: red;
}

.fa-js {
  color: rgb(23, 49, 197);
}

.fa-node {
  color: rgb(18, 177, 58);
}

/* for mobile view */
@media (max-width: 767px) {
  * {
    padding: 0;
    margin: 0;
  }

  .Text-Full {
    font-size: .75rem;
  }

  .fa-brands {
    font-size: 1.5rem; 
  }

  .fa-hand {
    font-size: 3.5rem;
  }

  .Message {
    border: .2rem solid rgba(0, 0, 255, 0.63);
  }
}