.image-size {
    width: 13.5rem;
    height: 13.5rem;
    border: .25rem inset rgba(0, 0, 255, 0.63);
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    opacity: 1;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } 

  .images-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Adjust alignment for caption */
    background-color: rgba(255, 255, 255, 0.486);
    width: 70%;
    padding: 2.8rem;
    position: relative; /* Added position relative */
    border: .2rem solid rgba(0, 0, 255, 0.63);
    margin-bottom: .10rem;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    width: 80%;
    text-align: center;
    padding: .5rem;
    color: white;
    margin: .10rem;
  }

  .love-project .caption{
    border: .12rem solid rgba(197, 12, 12, 0.7);
    background-color: rgba(197, 12, 12, 0.7);
  }

  .aframe-project .caption {
    border: .12rem solid green;
    background-color: rgba(4, 167, 4, 0.548);
  }
  
  .caption h2 {
    margin: 0;
    font-size: .9rem;
    font-family: 'Grandstander', cursive;
  }
  
  .caption p {
    margin: 0;
    font-size: .70rem;
    font-family: 'Grandstander', cursive;
  }
  
 .project-text {
    padding: .25rem;
    font-size: 1.33rem;
    background-color: rgba(255, 255, 255, 0.616);
    border: .20rem solid rgba(0, 0, 255, 0.63);
    text-align: center;
    font-family: 'Grandstander', cursive;
 }

 .projects-container {
    background-color: rgba(255, 255, 255, 0.616);
    border: .40rem solid rgba(0, 0, 255, 0.63);
 }

 .button {
    border: .1rem solid rgba(253, 252, 252, 0.87);
    background-color: rgba(255, 255, 255, 0.925);
    width: 55%;
 }

 .button:hover {
    background-color: rgba(255, 0, 0, 0.938);
    text-decoration: underline;
    color: white;
 }

 /* for mobile view */
@media (max-width: 767px) {
    .caption {
        font-size: .38rem;
    }
    
    .caption h2 {
        font-size: .65rem;
    }

    .project-text {
        font-size: .75rem;
    }

    .image-size {
        width: 6.5rem;
        height: 6.5rem;
    }
    .projects-container {
        border: .20rem solid rgba(0, 0, 255, 0.63);
    }
  }