.image-size {
    width: 13.5rem;
    height: 13.5rem;
    border: .25rem inset rgba(0, 0, 0, 0.377);
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    margin: .1rem;
    opacity: 1;
  }


  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } 

  .images-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Adjust alignment for caption */
    background-color: rgba(255, 255, 255, 0.486);
    width: 55%;
    padding: 3.5rem;
    position: relative; /* Added position relative */
    border: .2rem solid grey;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    color: white;
  }
  
  .caption h2 {
    margin: 0;
    font-size: 1rem;
  }
  
  .caption p {
    margin: 0;
    font-size: .75rem;
  }
  
 .project-text {
    font-size: 2.5rem;
    background-color: rgba(255, 255, 255, 0.616);
    border: .05rem solid rgba(0, 0, 255, 0.63);
    text-align: center;
 }

 .projects-container {
    background-color: rgba(255, 255, 255, 0.616);
    border: .45rem solid rgba(0, 0, 255, 0.63);
    padding: .2rem;
 }